<!-- @format -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>template</title>
  </head>
  <body>
    <table>
      <tr>
        <td>Nama</td>
        <td>: {{.Name}}</td>
      </tr>
      <tr>
        <td>Hobbies</td>
        <td>: {{range $i, $elem := .Hobbies}} {{$elem}}, {{end}}</td>
      </tr>
      <tr>
        <td>Affiliation</td>
        <td>: {{.Info.Affiliation}}</td>
      </tr>
      {{with .Info}}
      <tr>
        <td>Address</td>
        <td>: {{.Address}}</td>
      </tr>
      {{end}}
    </table>
  </body>
</html>
